* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;

}


nav {
    display: flex;
    position: relative;

}



.formulario {

    width: 40vw;
    margin-top: 105px;
    margin-left: 100px;
}

input {
    position: relative;
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #669fe9;
    background-color: rgb(19, 71, 114);
    color: white;
    box-shadow: 0px 0px 20px rgb(94, 177, 245);
    cursor: pointer;
}

input:hover {
    transform: translate3d(-5px, -5px, 0);
    transition: 0.5s;
    background-color: black;
    color: white;
    border: 1px solid rgb(94, 177, 245);
    height: 30px;
}

input::placeholder {
    color: white;
}

label {
    color: white;
    margin-bottom: 7px;


}


h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 23px;
    margin-left: 300px;
    margin-bottom: 20px;
    margin-top: 0;
    color: rgb(94, 177, 245);
}

.formulario-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;

}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    margin-right: 17%;
    border-radius: 15px;
    border: 1px solid rgb(94, 177, 245);
    background-color: rgb(29, 80, 121);
    color: aqua;
    cursor: pointer;
}

button:hover {
    transform: translate3d(-5px, -5px, 0);
    transition: 0.5s;
    background-color: black;
    color: white;
    border: 1px solid rgb(94, 177, 245);
}


header {
    width: 100vw;
    height: 100px;
    background-color: rgb(22, 63, 185);
    color: black;
    box-shadow: 0px 0px 20px rgb(94, 177, 245);
}

span {
    color: rgb(94, 177, 245);
}

.tooop {
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    gap: 50px;
    margin-top: 60px;

}

.tooop a {
    margin-top: 15px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.tooop a:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    color: aliceblue;
}


.h1-2 {
    font-size: 50px;
    color: white;

}

.topo {
    margin-left: 70px;
    margin-top: 180px;
    height: 200px;
}

.topo p {
    margin-top: 15px;
    width: 360px;
    font-size: 20px;
    font-weight: lighter;
    color: white;
}

.topo a {
    margin-top: 20px;
    font-size: 20px;
    border: 0.5px solid rgb(94, 177, 245);
    color: whitesmoke;
    border-radius: 13px;
    background-color: rgb(19, 71, 114);
    padding: 4px 40px;
    list-style: none;
    text-decoration: none;
}

.topo a:hover {
    transform: translate3d(+2px);
    transition: 0.5s;
    color: black;
    border: 1px solid #e20ed1;
}

.content-1 {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gorilarobo {
    width: 100vw;
    opacity: 0.1;
    position: absolute;
}


.content-1 img {
    margin-left: 80px;
    height: 500px;
    border-radius: 35px;
    border: 1px solid rgb(94, 177, 245);
    box-shadow: 5px 5px 10px #acabab;
}

.content-text {
    margin-top: 100px;
    width: 450px;
}

.content-text p {
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

h2 {
    font-size: 40px;
    color: white;
}

h3 {
    font-size: 38px;
    margin-top: 170px;
    margin-left: 80px;
    color: white;
}

h6 {
    font-size: 28px;
    margin-top: 70px;
    color: white;
}

ul {
    position: relative;
    list-style: none;
    font-size: 19px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin-top: 58px;
    color: white;
    gap: 15px;

}



li a {
    background-color: rgb(94, 177, 245);
    border: 1px solid rgb(94, 177, 245);
    border-radius: 12px;
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: black;
    cursor: pointer;

}

li a:hover {
    transform: translate3d(-5px, -5px, 0);
    transition: 0.5s;
    background-color: black;
    color: aqua;
}

.content-2 {
    margin-top: 90px;
    border: 1px solid rgb(94, 177, 245);
    border-radius: 25px;
    box-shadow: 0px 0px 20px rgb(94, 177, 245);
    position: relative;

}

.kingkong {
    width: 100vw;
    opacity: 0.1;
    position: absolute;
}


.todo-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
}

.todo-conteudo p {
    color: black;
}

.content-itens {
    background-color: rgb(103, 131, 155);
    border: 0.8px solid rgb(94, 177, 245);
    height: 300px;
    border-radius: 10px;
    margin-bottom: 75px;
}

.content-itens img {
    margin: 15px 5px 0 5px;
    border-radius: 10px;
}

.content-itens p {
    font-size: 17px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
    margin-left: 70px;
}

.content-itens a {
    font-size: 20px;
    border: 1px solid aqua;
    border-radius: 13px;
    background-color: rgb(19, 71, 114);
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 65px;
    width: 150px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 30px;
      list-style: none;
    text-decoration: none;
    box-shadow: 0px 0px 30px rgb(84, 177, 245);
}

.content-itens a:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    background-color: black;
}

.content-itens:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    background-color: rgb(12, 53, 87);
}


.codcapa {
    width: 100vw;
    opacity: 0.1;
    position: absolute;
}