* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  background-color: black;
    
}


nav {
    display: flex;
   
}
.formulario {
 
    width: 40vw;
    margin-top: 190px;
    margin-left: 100px;
}
input {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #669fe9;
    background-color: rgb(19, 71, 114);
    color: white;
    box-shadow:  0px 0px 20px  rgb(94, 177, 245);
     
}

input::placeholder {
    color: white;
}

label {
    color: white;
}

.formulario-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;

}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    margin-right: 70px;
    border-radius: 15px;
    background-color:  rgb(94, 177, 245);
}



header {
  width: 100vw;
  height: 100px;  
  background-color: royalblue; 
  color: black;
  box-shadow: 0px 0px 20px  rgb(94, 177, 245);
}

span {
    color: rgb(94, 177, 245);
}

.tooop {
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    gap: 50px;
    margin-top: 60px;

}

.tooop a {
    margin-top: 15px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.tooop a:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    color: aliceblue;
}


.h1-2 {
    font-size: 50px;
    color: white;

}

.topo {
    margin-left: 70px;
    margin-top: 180px;
    height: 200px;
}

.topo p {
    margin-top: 15px;
    width: 360px;
    font-size: 20px;
    font-weight: lighter;
    color: white;
}
 
.topo a {
    margin-top: 20px;
    font-size: 20px;
    border: 0.5px solid  rgb(94, 177, 245);
    color: whitesmoke;
    border-radius: 13px;
    background-color: rgb(19, 71, 114);
    padding: 4px 40px;
    list-style: none;
    text-decoration: none;
}

.topo a:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    color: black;
}

.content-1 {
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gorilarobo {
    width: 100vw;
    opacity: 0.1;
    position: absolute;
}


.content-1 img {
    margin-left: 80px;
    height: 500px;
    border-radius: 35px;
    border: 1px solid rgb(94, 177, 245);
    box-shadow: 5px 5px 10px #acabab;
}

.content-text {
    margin-top: 100px;
    width: 450px;
}

.content-text p {
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

h2 {
    font-size: 40px;
    color: white;
}

h3 {
    font-size: 38px;
    margin-top: 170px;
    margin-left: 80px;
    color: white;
}

.content-2 {
    margin-top: 90px;
}


.todo-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    gap: 20px;
}

.todo-conteudo p {
    color: black;
}

.content-itens {
    background-color: rgb(103, 131, 155);
    border: 0.8px solid rgb(94, 177, 245);
    height: 300px;
    border-radius: 10px;
    margin-bottom: 35px;
}

.content-itens img {
    margin: 15px 5px 0 5px;
    border-radius: 10px;
}

.content-itens p {
    margin-top: 15px;
    margin-left: 70px;
}

.content-itens a {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 13px;
    background-color: rgb(19, 71, 114);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 65px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

.content-itens a:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    background-color: black;
}

.content-itens:hover {
    transform: translateY(-5px);
    transition: 0.5s;
    background-color: rgb(19, 71, 114);
}


